.title {
  font-size: 2rem;
}

footer {
  margin-bottom: 128px;
}

footer a {
  background: #19B2DD;
  border: 1px solid rgb(25, 178, 221);
  overflow: hidden;
  position: relative;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: bottom;
  text-align: center;
  box-sizing: border-box;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
  font-weight: 500;
  width: 246px;
}

@media (max-width: 1184px) {
  header {
    text-wrap: pretty;
  }
  .title {
    font-size: 1.5rem;
  }
}
