<section class="d-flex flex-column align-items-center justify-content-center vw-100" style="background: #f3f3f6;">
  <header class="d-flex justify-content-center align-items-center w-100" style="margin-top: 8rem;">
    <p class="fw-bold px-4 title">
      Encuentra los especialistas que necesitas en un solo lugar
    </p>
  </header>
  <app-specialty-card />
  <footer class="d-flex align-items-center justify-content-center w-100">
    <a style="color: #fff;" class="text-decoration-none" [routerLink]="['/doctors/list']">
      Explorar especialidades
    </a>
  </footer>
</section>
