<div class="RegisterContainer">
    <div class="divImage"
    [style.view-transition-name]="'transition-img'">
      <img src="assets/images/doctor-register.jpg" alt="Imagen de doctor" style="width: 100%; height: 100%;object-fit: cover;">
    </div>
    <div class="container"
    [style.view-transition-name]="'transition-form'">
        <section class="selectRol" [ngClass]="{'btn-clicked': !showTouched}">
            <h1
            [style.view-transition-name]="'transition-title'">Registro DocSpot</h1>
            <p
            [style.view-transition-name]="'transition-subtitle'">Seleccione su tipo de usuario:</p>
            <div class="seccionBtn " [ngClass]="{'btn-column': !showTouched}">
                <button mat-raised-button [ngClass]="{
                    'btn-select': showForm === selectedRol.patient,
                    'btn-unselect': showForm !== selectedRol.patient
                  }" [ngStyle]="{ opacity: showForm === selectedRol.professional ? 0.5 : 1 }"
                    (click)="selectPacient()">Paciente</button>
                <!-- <p>ó</p> -->
                <button mat-raised-button [ngClass]="{
                    'btn-select': showForm === selectedRol.professional,
                    'btn-unselect': showForm !== selectedRol.professional
                  }" [ngStyle]="{ opacity: showForm === selectedRol.patient ? 0.5 : 1 }"
                  [disabled]="this.disabledProfessional"
                  styl
                    (click)="selectProfessional()">Profesional</button>
            </div>
            <span class="mt-5" [ngClass]="{'d-none': showTouched}"
            [style.view-transition-name]="'transition-cuenta'">
                ¿Ya tienes una cuenta?
            </span>
            <span class="mb-0" [ngClass]="{'d-none': showTouched}"
            [style.view-transition-name]="'transition-cuentaLink'">
                <a (click)="navLogin()">Inicia sesión aqui</a>
            </span>
        </section>
        @if (this.showTouched && this.register) {
        <form [formGroup]="register" (ngSubmit)="send()">

            <!-- name -->
            <mat-form-field appearance="outline" class="">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name">
                @if (register.get('name')?.hasError('required')) {
                    <mat-error>Nombre es <strong>requerido</strong></mat-error>
                }
            </mat-form-field>

            <!-- email -->
            <mat-form-field appearance="outline" class="">
                <mat-label>Correo electrónico</mat-label>
                <input type="text" matInput formControlName="email" placeholder="Ex. pat@example.com">
                <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                @if (register.get('email')?.hasError('email') && !register.get('email')?.hasError('required')) {
                <mat-error>Por favor ingresa un correo electrónico <strong>valido</strong></mat-error>
                }
                @if (register.get('email')?.hasError('required')) {
                <mat-error>Correo electrónico es <strong>requerido</strong></mat-error>
                }
            </mat-form-field>

            <!-- password -->
            <mat-form-field appearance="outline" class="">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="showPassword ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button type="button" matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="showPassword">
                  <mat-icon>{{!showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (register.get('password')?.hasError('required')) {
                    <mat-error>Contraseña es <strong>requerida</strong></mat-error>
                }
            </mat-form-field>

            <!-- professional -->
            @if (this.showForm == this.selectedRol.professional) {
                <!-- mp -->
                <mat-form-field appearance="outline" class="">
                    <mat-label>Número Professional</mat-label>
                    <input type="text" matInput formControlName="mp" placeholder="Ex. mp">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    @if (register.get('mp')?.hasError('required')) {
                    <mat-error>Número Professional es <strong>requerido</strong></mat-error>
                    }
                </mat-form-field>

                <!-- valueQuery -->
                <mat-form-field appearance="outline" class="">
                    <mat-label>Precio de consulta</mat-label>
                    <input type="text" matInput formControlName="valueQuery" placeholder="Ex. S/.20">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    @if (register.get('valueQuery')?.hasError('required')) {
                    <mat-error>Precio de consulta es <strong>requerido</strong></mat-error>
                    }
                </mat-form-field>

                <!-- especialidades [] -->
                <!-- <mat-form-field appearance="outline" class="">
                    <mat-label>Seleccione una especialidad</mat-label>
                    <mat-select (selectionChange)="addSpecialty($event.value)">
                        @for (spec of this.specAvailable; track $index) {
                            <mat-option [value]="spec">
                                {{ spec.nameSpecialty }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field appearance="outline" class=""
                [ariaDisabled]="this.specSelect.length >= 2">
                    <mat-label>Especialidades</mat-label>
                    <input #inputSpec type="text" matInput [matAutocomplete]="auto"
                    formControlName="specialtyAuto"
                    [readonly]="this.specSelect.length >= 2" 
                    [attr.disabled]="this.specSelect.length >= 2"
                    [style.pointer-events]="this.specSelect.length >= 2 ? 'none' : ''">
                    <mat-autocomplete #auto="matAutocomplete"
                     [displayWith]="displaySpecialty"
                     [hideSingleSelectionIndicator]=true
                     (optionSelected)="selected($event)">
                      @for (spec of this.specFiltered | async; track $index) {
                        <mat-option [value]="spec">{{spec.nameSpecialty}}</mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>

                @if (this.specSelect.length > 0) {
                    <p class="m-0">Especialidades seleccionadas:</p>
                    <mat-chip-set class="chip-section">
                        @for (spec of this.specSelect; track $index) {
                            <mat-chip [removable]="true" id="chipElement" (removed)="DeleteSpecialty(spec)">
                                {{ spec.nameSpecialty }}
                                <mat-icon matChipRemove>cancel</mat-icon>
                            </mat-chip>
                        }
                    </mat-chip-set>
                }

            }

            <!-- patient -->
            @if (this.showForm == this.selectedRol.patient) {
                <div class="form-patient">
                    <div class="form-patient__content1">
                        <!-- cellphone -->
                        <mat-form-field appearance="outline" class="">
                            <mat-label>cellphone</mat-label>
                            <input type="tel" matInput formControlName="cellphone" placeholder="Ex. 937445581">
                            <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                            @if (register.get('cellphone')?.hasError('required')) {
                                <mat-error>Cellphone is <strong>required</strong></mat-error>
                            }
                        </mat-form-field>

                        <!-- @if (this.hasWorkAdded) {
                            <div class="form-patient__content1__work">
                                hasWork
                                <mat-checkbox formControlName="hasWork" color="primary">¿Tiene trabajo social?</mat-checkbox>

                                socialWork
                                <mat-form-field appearance="outline" class="field">
                                    <mat-label>Social work</mat-label>
                                    <input matInput formControlName="socialWork" placeholder="Trabajo Social" [disabled]="!register.get('hasWork')?.value">
                                    @if (register.get('socialWork')?.hasError('required') && register.get('hasWork')?.value) {
                                        <mat-error>Social Work is <strong>required</strong></mat-error>
                                    }
                                </mat-form-field>
                            </div>
                        } -->
                    </div>

                    <!-- <div class="form-patient__content2">
                        photo
                        <app-upload-image (fileOut)="onFileReceived($event)"></app-upload-image>
                    </div> -->
                </div>

            }

            <button mat-raised-button type="submit" color='primary' [ngClass]="showTouched ?
                            'btn-select':'btn-unselect'">Enviar</button>
        </form>
        <div class="d-flex flex-column gap-3">
            <span class="mt-5"
            [style.view-transition-name]="'transition-cuenta'">
                ¿Ya tienes una cuenta?
            </span>
            <span class="mb-5"
            [style.view-transition-name]="'transition-cuentaLink'">
                <a (click)="navLogin()">Inicia sesión aqui</a>
            </span>
        </div>
        }
    </div>
</div>
