// :root {

    $color-1: #fafeff;
    $color-2: #f2fafd;
    $color-3: #53b1dd;
    $color-4: #d7eff9;
    $color-5: #c6e6f2;
    $color-6: #b2dae9;
    $color-7: #98c9dd;
    $color-8: #70b4ce;
    $color-9: #96e0fc;
    $color-10: #8ad5f2;
    $color-11: #007893;
    $color-12: #0d424f;
    $color-13: #000107;


    /* theme */
    $fondo-dark1: $color-11;
    $fondo-dark2: $color-12;

    $button-fondo1: $color-7;
    $button-fondo-hover1: $color-3;

    $button-fondo2: $color-11;
    $button-fondo-hover2: $color-12;


    $text-light1: $color-1;
    $text-light1: $color-2;

    $text-black: $color-13;
// }