<section class="d-flex flex-column align-items-center justify-content-center" style="background: #f3f4f6;">
  <header class="d-flex justify-content-center align-items-center w-100" style="margin-top: 8rem;">
    <p class="fw-bold px-4 title">
      Tu Salud, Nuestra Prioridad - Accede a los Mejores Servicios Médicos Online
    </p>
  </header>
  <app-service-card />
  <footer class="d-flex align-items-center justify-content-center w-100">
    <p class="fw-bold px-4 subtitle">
      Nuestro sistema de reservas es sencillo, rápido y eficiente.
    </p>
  </footer>
</section>
