<section class="vw-100 vh-100 d-flex">
  <article class="d-flex flex-column">
    <p
      style="text-align: left; padding-top:12rem; padding-left: 5rem; line-height: 53px; font-size: 3rem; font-weight: 700; margin: 3rem 0;"
    >
      Atención Médica a un Clic de Distancia
    </p>
    <p style="line-height: 48px; padding-left: 5rem; padding-bottom: 2rem; font-size: 1.75rem;">
      Elige, agenda y consulta, todo desde la comodidad de tu hogar
    </p>
    <article class="d-flex align-items-center justify-content-center">
      <a style="color: #fff;" class="text-decoration-none" [routerLink]="['/doctors/list']">
        Inicia tu Cuidado Médico
      </a>
    </article>
  </article>
  <article class="d-flex">
    <img style="padding-top: 10rem;" src="assets/images/doctor-posing.png" alt="Imagen de doctora.">
  </article>
</section>
